.sample {
  border:black; 
  border-width:1px; 
  border-style:outset;
  inline-size: 50vmin;
  block-size: 35vmin;
  background: linear-gradient(
    to bottom right, 
    hsl(0, 100%, 69%), 
    hsl(34, 100%, 69%),
    hsl(59, 100%, 69%),
    hsl(116, 100%, 69%),
    hsl(181, 100%, 69%),
    hsl(238, 100%, 69%),
    hsl(270, 100%, 69%),
    hsl(302, 100%, 69%)
  );
  border-radius: 1rem;
  position: relative;
}

.sample::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right, 
    hsl(0, 100%, 69%), 
    hsl(34, 100%, 69%),
    hsl(59, 100%, 69%),
    hsl(116, 100%, 69%),
    hsl(181, 100%, 69%),
    hsl(238, 100%, 69%),
    hsl(270, 100%, 69%),
    hsl(302, 100%, 69%)
  );
  z-index: -1;
  transform: translateY(15%) scale(1.5);
  filter: blur(60px);
}

html {
  block-size: 100%;
}

body {
  background:black;
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}